__pycache__/
*.pyc
*.venv/
data/raw/*
data/processed/*
outputs/*
.ipynb_checkpoints/

# BE personal notes and resources (that I don't wish to track with Git)
BE-resources/
clean_notebook.py

# Temporary working files or drafts or new models
tmp-files*/

# docs contains draft content for dashboard
# added here just whilst it's under development
docs/

.DS_Store

*.pdf
tmp_*
*.ppt*
*.key

.claude/

.jupyter/
.jupyter_ystore.db

ANALYSIS_SUMMARY.md
CLAUDE.md
